.container {
    margin-top: 56px;
}

.subTitle {
    font-family: 'Pretendard';
    font-size: 21px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #242D35;
}

.gridContainer {
    margin-top: 8px;
    margin-bottom: 50px;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(309px, 300px));
    justify-content: space-between;
    row-gap: 40px;
    
}