.checkbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1.5px solid #D1D7DF;
    background-color:#FFF;
    cursor: pointer;

}

.checkbox:hover {
    border: 1.5px solid #F25476;
    background-color: #FBC6D1;
}