.container {
    width: 49%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;   
    font-family: "Pretendard";
    line-height: 160%; /* 24px */
    letter-spacing: -0.225px;
    border-bottom: 1px solid #E6EAEF;
}

.basicInfoDiv { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage {
    border-radius: 100px;
    margin-left: 25px;

}

.ranking {
    color:  #242D35;
    font-size: 15px;
    font-weight: 500;
}

.name {
    margin-left: 16px;
    color:  #445462;
    font-size: 15px;
    font-weight: 400;
}

.followerNum {
    margin-left: 20px;
    color: #536878;
    font-size: 15px;
    font-weight: 400;
}

.statisticsItem {
    color:  #445462;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    gap: 4px;
font-family: "Pretendard";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 20.8px */
letter-spacing: -0.195px;
}

.statisticsLabel {
    color:  #8696AB;
}

.statisticsDiv {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}