
.joinContainer {
    width: 336px;
    right: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;

}

.summaryInfoContainer {
    padding: 20px 16px;
    border-radius: 16px;
    border: 1px solid #E6EAEF;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.title {
    color:  #35424C;
    font-family: "Pretendard";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 27.2px */
    letter-spacing: -0.255px;
}

.joinButton {
    margin-top: 24px;

}


.subItem  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Pretendard';
    font-size: 15px;
    line-height: 160%;
    letter-spacing: -0.225px;
    text-align: left;
}


.subItem > .subLabel {
    color: #8696AB;
    font-weight: 400;
} 

.subItem > .subValue {
    margin-top: 4px;
    color: #35424C;
    font-weight: 500;
}

.subValue > .addInfo {
    color: #F25476;
    margin-left: 8px;

}
