.subTitle {
    color: var(--gray-gray-600, #536878);
    font-size: 15px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.225px;
    margin-top: 8px;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 15px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.225px;
    background-color: var(--gray-gray-100, #F1F4F7);
    border-bottom: 1px solid var(--gray-gray-200, #E6EAEF);
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
}

.tableHeader {
    padding: 0px 8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: var(--gray-gray-800, #35424C);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.dataRow {
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    color: var(--gray-gray-600, #536878);
    border-bottom: 1px solid var(--gray-gray-200, #E6EAEF);
}

.dataItem {
    padding: 0px 0px;
    display: flex;
    align-items: center;
}

.dataColumn {
    min-width: 0;
    padding: 0px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.proceeding {
        background-color: #3AB09E;
    }
}