.subTitle {
    color: var(--gray-gray-600, #536878);
    font-size: 15px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.225px;
    margin-top: 8px;
}

.head {
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 15px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.225px;
    background-color: var(--gray-gray-100, #F1F4F7);
    border-bottom: 1px solid var(--gray-gray-200, #E6EAEF);
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
}

.headerItem {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: var(--gray-gray-800, #35424C);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.dataRow {
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    color: var(--gray-gray-600, #536878);
    border-bottom: 1px solid var(--gray-gray-200, #E6EAEF);
    font-family: 'Pretendard';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.225px;
}

.dataItem {
    padding: 0px 8px;
    display: flex;
    align-items: center;

    &.link {
        color: var(--gray-gray-500, #8696AB);
text-decoration-line: underline;
    }
}

.dataColumn {
    min-width: 0;
    padding: 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stateBadge {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    font-size: 11px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.165px;

    white-space: nowrap;
    overflow: hidden;

    &.proceeding, &.approve_recruit, &.completed_approval {
        background-color: #3AB09E;
        color:  #FFF;
    }

    &.recruitment_complete {
        background-color: #FFF9EB;
        color: #FFB81F;
    }

    &.recruiting {
        background-color: #FFB81F;
        color: #FFFFFF;
    }

    &.writing {
        background-color: #3183F6;
        color: #FFFFFF;
    }

    &.progress_complete {
        background-color: #F1F4F7;
        color: #445462;
    }

    &.request_recruit, &.waiting_for_approval {
        background-color: #E0F5F2;
        color: #3AB09E;

    }

    &.decline_recruit, &.rejected_approval {
        background-color: #FEECF0;
        color: #F25476;
    }

    &.unregistered {
        background-color: #F1F4F7;
        color: #445462;
    }

}