.container {
    display: none;
    position: absolute;
    border-radius: 8px;
    padding: 14px 12px;
    background-color: #35424CD9;
    opacity: 0.85;
    color: var(--gray-gray-50, #F7F9FB);
    font-size: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.225px;
}


.icon_polygon {
}