.tooltip {
     margin-left: 6px;
    position: relative;
    display: inline-block;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    border-radius: 8px;
    padding: 14px 12px;
    background-color: #35424CD9;
    opacity: 0.85;
    color: var(--gray-gray-50, #F7F9FB);
    font-size: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.225px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #35424CD9 transparent transparent transparent;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
}