.main {
    padding: 48px 40px 48px 48px;
    display: flex;
    flex-direction: row;
}

.mainInfoContainer {
    display: flex; 
    flex-direction: column;
}

.representativeImage {
    border-radius: 16px;
    background-color: #F1F4F7;
}

.brandName {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.015em;
    text-align: left;
    
}

.title {
    font-family: 'Pretendard';
    font-size: 21px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.015em;
    text-align: left;
}