.description {
    margin-top: 8px;
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #536878;
}