.main {
    padding-top: 48px;
    padding-left: 60px;
}

.title {
    font-family: 'Pretendard';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.015em;
}

.gridContainer {
    display: grid;
}